{% extends "base.html" %}

{% block title %}{{ image.title }}{% endblock %}

{% block content %}
<h1>{{ image.title }}</h1>
<span class="count float-right">
        {{ total_views }}
         view{{ total_views|pluralize }}
    </span>
{% load thumbnail %}
{% thumbnail image.image "x500" as im %}
<img src="{{ im.url }}">
{% endthumbnail %}
{% with total_likes=image.total_likes user_like=image.user_like.all %}
<div class="image-info">

<div class="text-muted">
    {{ image.description|linebreaks }}
</div>
    {% if request.user not in user_like %}
    <button class="btn" data-action="like">like</button>
    {% else %}
    <button class="btn" data-action="unlike">Unlike</button>
    {% endif %}
    <span class="count">
     <span class="total"> {{ total_likes }}like{{ total_likes|pluralize }}</span>
    </span>

    <div class="image-likes">
        {% for user in user_like.all %}
        <div style="display:inline">
            {% thumbnail user.profile.photo "50x50" crop="100%" as im %}
            <img src="{{ im.url }}" class="rounded-circle">
            {% endthumbnail %}
        </div>
        {% empty %}
        Nobody likes this image yet.
        {% endfor %}
    </div>
</div>
{% endwith %}
{% endblock %}

{% block document %}
$('.btn').on('click',function(){
$.post("{% url 'like' %}",{"id":"{{ image.id }}","like":$(this).attr('data-action')},function(data){
if(data['status'] == 'ok'){
window.location.reload()
}
},'json')
});
{% endblock %}