{% load staticfiles %}
<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>御林绿蜂源</title>
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon"/>
    <link href="{% static 'bootstrap-4.0.0-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fontawesome/all.css' %}">
    <link href="{% static 'css/honey.css' %}" rel="stylesheet">

    <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'popper/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.0.0-dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
    <script type="text/javascript" src="{% static 'honey/baidumap.js' %}"></script>
    <script type="text/javascript" src="{% static 'honey/honey.js' %}"></script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="100">
{% include "honey/nav.html" %}

{% block content %}




{% endblock %}


</body>

</html>