{% load staticfiles %}
<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>http://www.91elian.com/</title>
    <link href="{% static 'bootstrap-4.0.0-dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/honey.css' %}" rel="stylesheet">
    <script src="{% static 'jquery/jquery.slim.min.js' %}"></script>
    <script src="{% static 'popper/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.0.0-dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
    <script type="text/javascript" src="{% static 'honey/baidumap.js' %}"></script>
</head>
<body>
{% include "honey/nav.html" %}

{% block content %}




{% endblock %}


</body>

</html>