{% load staticfiles %}
<section id="about" class="bg-light intro">

    <div class="tilt bg-light">
    </div>
    <div class="container">
        <div class="row module already-visible come-in">
            <div class="section-header col-md-12">
                <h2 class="theme-text text-center">关于我们</h2>
            </div>

            <div class="col-md-6 col-xs-12">
                <br>
                <br>
                <h3 class="red-text">
                    <span itemprop="name"></span></h3>
                <br>
                <!--Here h1 tag is used for seo optimization. Don't remove it.-->
                <p class="big-idea-content inline-display"></p>
                <h1 id="_applicationCategory3" itemprop="applicationCategory"
                    class="theme-text inline-display">御林绿蜂源 </h1>
                <p class="big-idea-content about-content inline-display">
                    御林绿丰源专业合作社位于风景秀丽的山东省龙口市，主营各种天然蜂产品系列：枣花蜜，槐花蜜，荆条蜜，蜂胶，蜂王浆等，
                    公司以诚信为本，以生产“纯天然，无添加”的蜂蜜为宗旨
                </p>
               <p class="big-idea-content about-content margin-top-5">蜂场位于龙口市深山区，山青水秀，绿野蓝天，合作社拥有多年的养蜂经验，
                   采用先进的养蜂技术，酿造的蜂蜜品质纯正，品质优良，深受顾客喜爱
                </p>
                <p class="big-idea-content about-content">我们有专门的店面
                    <span class="red-text">期待您的光临！！！</span>
                </p>
                <br>
                <div class="row">
                    <div class="col-xs-6 col-md-12
                    col-sm-6">
                       <i class="fas fa-map-marker-alt"></i>
                        店面地址：<strong>烟台市龙口市新兴小区芦头街西</strong>
                        <br>
                        <i class="fas fa-phone"></i>
                        联系方式：<strong>18865522066</strong>
                        <br>
                        <i class="fab fa-weixin"></i>
                        微信号：<strong>18865522066</strong>
                    </div>
                    <div class="col-xs-6 col-md-12 col-sm-6">
                        <img src="{% static 'img/address.jpg' %}" class="img-responsive" alt="Cinque Terre" width="250"
                             height="150">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 p-15">
                <br>
                <br>
                <br>
                  <div style="height:500px;border:#ccc solid 1px;" id="dituContent"></div>
            </div>
        </div>
    </div>
</section>