<section class="bg-light intro">
    <div class="tilt bg-light">
    </div>
    <div class="container">
        <div class="row module already-visible come-in">
            <div class="section-header col-md-12">
                <h2 class="dark-text text-center">About</h2>
            </div>

            <div class="col-md-6 col-xs-12">
                <br>
                <br>
                <h3 class="red-text">What is
                    <span itemprop="name">Engati</span>?</h3>
                <br>
                <!--Here h1 tag is used for seo optimization. Don't remove it.-->
                <p class="big-idea-content about-content inline-display">Engati is one of the best free </p>
                <h1 id="_applicationCategory3" itemprop="applicationCategory"
                    class="big-idea-content about-content inline-display">chatbot platform </h1>
                <p class="big-idea-content about-content inline-display">to build bots in minutes without programming.
                    Build once and publish across 8 major platforms - FB
                    messenger, kik, telegram, line, viber, skype, slack and website. Supports intelligent paths,
                    train, copy, analytics and private labeling.
                </p>
                <p class="big-idea-content about-content margin-top-5">Using Engati you can leverage the power of
                    machine learning, NLP/NLU to design your very own chatbot.
                </p>
                <p class="big-idea-content about-content">What are you waiting for?
                    <span class="red-text">Lets Engati !!!</span>
                </p>
                <br>
                <div class="row intro-btn">
                    <span class="black-text text-center download-ebrochure">GET THE ENGATI E-BROCHURE</span>
                    <a href="assets/engati-mediakit.pdf" target="_blank"
                       class="btn demo-login-btn feature-btn download-brochure-btn"
                       title="download-ebrochure">DOWNLOAD</a>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 p-15">
                <br>
                <br>
                <br>
                  <div style="width:400px;height:400px;border:#ccc solid 1px;" id="dituContent"></div>
            </div>
        </div>
    </div>
</section>