{% load staticfiles %}
<hr>
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 text-xs-center text-sm-left">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="{% static 'img/logo.png' %}" alt="" class="logo">
                    </div>
                    <div class="col-sm-6">
                        <h2 class="heading-footer theme-text">御林绿蜂源</h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="row pull-sm-right">
                    <p class="col-12 text-xs-center text-sm-right">纯天然，无污染，高品质，期待您下次光临</p></div>
            </div>
        </div>
        <div class="row ">
            <div class="container-fluid text-center">
                www.yllfy.com
            </div>

        </div>

    </div>
</footer>