{% load staticfiles %}
<section id="prod-intro">
    <div class="container prod-intro">
        <div id="yh" class="prod-title">
            <h2>洋槐</h2>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-7 col-md-6 col-lg-4 ">
                <div class="img-wrap" style="height: 350px;">
                    <div class="main-img">
                        <img class=" " src="{% static 'img/yh.png' %}" width="225" height="300"
                             alt="">
                    </div>
                    <div class="side-imgs">
                        <img class="side-img img-active" src="{% static 'img/yh.png' %}" height="100"
                             alt="">
                        <img class="side-img " src="{% static 'img/yhxp.png' %}" height="100"
                             alt="">
                        <img class="side-img " src="{% static 'img/yhdp.png' %}" height="100"
                             alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-md-6 col-lg-8 ">
                <div class="about-content intro-content">
                    <i class="fas fa-hand-point-right"></i> 槐花蜜，其色泽为水白色，透明状，色泽清亮，口感清甜，有槐花特有的清香味道，
                    不容易结晶，果糖比率高，为上等蜂蜜。洋槐蜜中果糖含量非常高，极易被人体吸收利用，
                    且果糖转变成脂肪的能力小于葡萄糖，是青少年与老年人理想食品。
                </div>
                <div class="about-content intro-content">
                    它的主要功效是清热补中、解毒润燥，可以改善血液的微循环，
                    非常适合有心脑血管疾病的人士，也很适合老年人服用，而且它具有催眠的功效，
                    经常失眠的人必然影响身体，脸色差自然不必说，这时候喝一些槐花蜜是不错的选择。
                </div>
            </div>
        </div>

        <div id="zh" class="prod-title">
            <h2>枣花</h2>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-7 col-md-6 col-lg-4 ">
                <div class="img-wrap" style="height: 350px;">
                    <div class="main-img">
                        <img class=" " src="{% static 'img/zh.png' %}" width="225" height="300"
                             alt="">
                    </div>
                    <div class="side-imgs">
                        <img class="side-img img-active" src="{% static 'img/zh.png' %}" height="100"
                             alt="">
                        <img class="side-img " src="{% static 'img/zhxp.png' %}" height="100"
                             alt="">
                        <img class="side-img " src="{% static 'img/zhdp.png' %}" height="100"
                             alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-md-6 col-lg-8 ">
                <div class="about-content intro-content">
                    <i class="fas fa-hand-point-right"></i> 枣花蜜，继续了大枣的色泽特点，为深琥珀色，因为品种不同，所以蜜汁透明、略带浑浊;质地粘稠，
                    天冷易结晶，有的时候可以在底部见少量的粗粒结晶。气味浊香，有特殊的浓郁气味(枣花香味)。味道甜腻，
                    甜度大，略感辣喉，回味重，非常适合女性美容养颜食用。
                </div>
                <div class="about-content intro-content">
                    枣花蜜的性平偏温，具有补中益气、养血安神、护脾养胃的功效;内含丰富的葡萄糖、果糖、维生素、矿物质等，
                    是一种营养极其丰富的蜂蜜品种。其中果糖和维生素C的含量尤其高，它的美容功效甚至超过槐花蜜。
                </div>
            </div>
        </div>

        <div id="jt" class="prod-title">
            <h2>荆条</h2>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-7 col-md-6 col-lg-4 ">
                <div class="img-wrap" style="height: 350px;">
                    <div class="main-img">
                        <img class=" " src="{% static 'img/jt.png' %}" width="225" height="300"
                             alt="">
                    </div>
                    <div class="side-imgs">
                        <img class="side-img img-active" src="{% static 'img/jt.png' %}" height="100"
                             alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-md-6 col-lg-8 ">
                <div class="about-content intro-content">
                    <i class="fas fa-hand-point-right"></i> 荆条蜜，荆条花蜂蜜的简称，也叫荆花蜜。是四大名蜜之一（荆条蜜、枣花蜜、槐花蜜、荔枝蜜），
                    也是我国大宗蜜源中每年最稳收的蜜品之一。
                    荆条蜜对于脑力工作者、学生、上班族都非常适合，
                    有利于促进体力恢复。适合饭后容易困倦、体力消耗大、精神压力大者。
                </div>
                <div class="about-content intro-content">
                    荆条蜂蜜有美容、健体、润燥、祛风解毒、润畅通便、促进消化、助吸收、开胃健脾、调理肠胃、益气、补中、发汗散热、散寒清目等功效。
                    多适合气血不足、伤风头痛、目赤、失眠者。常服蜂蜜能增强人体特异性和非特异性免疫功能,提高体质,
                    对心血管系统疾病,如强心、改善血液循环方面有辅助疗效,具有排脓托毒、止痛补虚之功效。
                </div>
            </div>
        </div>
    </div>
</section>