{% extends "honey/base.html" %}

{% block content %}
<div class="container-fluid">

    <div class="products-header page-header">
        <h2>Bootstrap相关优质项目推荐</h2>
        <p>这些项目或者是对Bootstrap进行了有益的补充，或者是基于Bootstrap开发的</p>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 ">
            222222222222222222222222222
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 ">
            22222222222222
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3 ">
            3333333333333333
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3 ">
            444444444444444444
        </div>
    </div>

</div>

{% endblock %}