{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<p>Welcome to your dashboard.
<p>Drag the following button to your bookmarks toolbar to bookmark images from other websites → <a
        href="javascript:{% include 'bookmarklet_launcher.js' %}" class="btn">Bookmark it!</a><p>
<h2>What's happening</h2>
<div id="action-list" class="col-md-3 float-right">
    {% for action in actions %}
    {% include "actions/action/detail.html" %}
    {% endfor %}
</div>
{% endblock %}
