{% extends "blog/base.html" %}

{% block title %}Share a post{% endblock %}

{% block content %}
    {% if send %}
<form action="." method="post" class="">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }} {{ field  }}
    </div>
    {% endfor %}
    <input type="submit" value="Send" >
</form>
<h1>Email successfully sent</h1>
{% else %}
    <p>
        {{ post.title }} was successfully sent to
    </p>
<h1>Share "{{ post.title }} by e-mail</h1>
    {% endif %}
{% endblock %}